body{
  background-size:100%;
  background-attachment:fixed;
  }
  .navtitle{
  position:absolute;
  left:140px;
  top:-5px;
  }
  .homenav{
  background:gray;
  list-style-type: none;
  height:80px;
  margin:-10px;
  padding:-10px;
  }
  .homenavimg{
  padding: 20px 10px 10px 5px;
  }
  .post-list__body{
  overflow: hidden;
  }
.entry__header {
    margin-bottom: 14px;
}
.entry__title {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: 600;
}
.newfrom {
    list-style: none;
    margin: 0;
    padding: 0;
}
.entry__meta li {
    display: inline-block;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: #919BA3;
}
.list{
    margin:40px 200px 50px 200px;
}
.page{
text-align:center;
    margin:0 auto;
}
.footer__bottom {
    padding: 32px 0;
    margin-bottom:0px;
    background-color: #041726;
}
.copyright {
    font-size: 13px;
    color: #9AA3AB;
    font-family: "Poppins", sans-serif;
}
#xuxian{
width:100%;
height:0;
border-bottom:#000000 1px dashed;}